<!DOCTYPE html>

<html>
  <head>
    <title>John Karahalis | thoughts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💭</text></svg>"
    />
    <script src="https://unpkg.com/smartquotes@2.3.2/dist/smartquotes.js"></script>
    <script>smartquotes()</script>
  </head>
  <body>
    <header>
      <h1><a href="https://thoughts.page/">thoughts</a></h1>
      <p>
        Thoughts from <a href="https://www.johnkarahalis.com/">John Karahalis</a>.
        Powered by <a href="https://thoughts.page">thoughts</a>, a "quieter,
        slower, more personal" alternative to social media.
      </p>
    </header>

    <hr />

    <main>
      {% for thought in thoughts %}
        <div
          class="thought"
          id="{{ thought.time | date(format='%s', timezone=thought.timezone) }}"
        >
          <h3>
            <a href="#{{ thought.time | date(format='%s', timezone=thought.timezone) }}">
              {{ thought.time | date(format='%b %d, %Y - %-I:%M%p', timezone=thought.timezone) }}
            </a>
          </h3>
          {{ thought.rendered_text }}
        </div>
      {% endfor %}
    </main>

    <hr />

    <footer>
      <p>
        Powered by <a href="https://thoughts.page">thoughts</a>, a "quieter,
        slower, more personal" alternative to social media.
        {% if webring %}
          This page belongs to the
          <a href="https://thoughts.page/webring">thoughts webring</a>.
        {% endif %}
      </p>
    </footer>
  </body>
</html>
