body {
  color: #1b1b1b;
  font-family: Inter, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  margin: 0 auto;
  max-width: 650px;
  padding: 24px;
}

a {
  color: #0437f2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3 {
  line-height: 1;
}

h1 {
  margin-top: 0;
  text-align: center;
}

h1 a {
  color: inherit;
}

h3 {
  margin-top: 0;
}

hr {
  margin: 30px 0;
}

.thought {
  margin: 15px 0;
  padding: 15px 0;
}

.thought:first-child {
  margin-top: 0;
}

.thought:last-child {
  margin-bottom: 0;
}

.thought:target {
  background: #f5f5f5;
  border: 1px solid #1b1b1b;
  border-radius: 3px;
  margin-left: -15px; /* 9px for padding, 1px for the border */
  margin-right: -15px; /* 9px for padding, 1px for the border */
  padding: 14px;
}

blockquote {
  border-left: 3px solid #aaa;
  margin-inline: 0;
  padding-left: 20px;
}

p {
  margin: 20px 0;
}

p:last-child {
  margin-bottom: 0;
}

/**
 * The Markdown compiler that thoughts uses deviates from standard Markdown
 * compilers in that it treats single line breaks as paragraph breaks. As a
 * result, paragraphs are added within all list items. The following CSS rule
 * removes the excess margin between list items that results.
 *
 * I mentioned this to Wesley on 2023-01-21, so it's possible that he may fix
 * this, as he did when I mentioned a similar issue related to blockquotes. If
 * he does apply a fix, it will only apply to future posts unless I ask him to
 * also apply the fix to some of my past posts.
 */
li > p {
  margin: 0;
}

footer p {
  font-size: 16px;
  margin: 10px 0;
}
